<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/assets/img/icon.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <!-- Custom JS-->
    <script type="text/javascript" src="/assets/js/jquery-1.10.1.min.js"></script>

    <!-- Generate TOC-->
    <link rel="stylesheet" type="text/css" href="/assets/css/toc.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/js/jquery.toc.js"></script>
    <style type="text/css">
      #renderIn {
        margin-left: 3em;
      }
    </style>
    <script type="text/javascript">
      $(function() {
        $('#main').toc({
          showAlways:true,
          renderIn:'#renderIn',
          contentsText:"Contents",
          hideText:'Collapse',
          showText:'Expand'
        });
      });
    </script>
</head>
