<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
          <!-- add swiftype instant search -->
          <div align="right">
              <input type="text" class="st-default-search-input">
              <script type="text/javascript">
                (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
                e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
                })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

                _st('install','LzEwz2TKASeU5sz4dKSq','2.0.0');
              </script>
          </div>

          {{ content | fancytoc }}
      </div>
    </div>

    <div id="back-top">
      <a href="#top" title="Back to Top"></a>
    </div>
    <script type="text/javascript">
        $("#back-top").hide();
        $(document).ready(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              $('#back-top').fadeIn();
            } else {
              $('#back-top').fadeOut();
            }
          });
          $('#back-top a').click(function () {
            $('body,html').animate({
              scrollTop: 0
            }, 800);
            return false;
          });
        });
    </script>

    {% include footer.html %}

    </body>
</html>
